  <footer class="sticky-bottom mt-5" role="contentinfo">
    <div class="container">
      CoMMA Lab @ <a href="https://www.purdue.edu/">Purdue University</a>, <a href="https://www.cs.purdue.edu/">Department of Computer Science</a>.
      &copy; Copyright {{ site.time | date: '%Y' }}. {{ site.footer_text }}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
